.absolute.w-100p.top-0.z-9.min-h-8.white.bg-gray-9
  .flex.h-100p.px-1.md_px-2
    //- Title
    .flex.items-center.bold.white.text-6.h-8.orbitron
      a(href=url.base) Videogames
    //- Game name
    if data.game
      a.fla.cnw.flc.hidden.lg_flex(href=`/${data.game.slug}`)
        .gray-4.text-6.orbitron=data.game.name
