doctype html
html(lang='en')
  +norska_head
    link(type="text/css", rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")

  body.bg-black.gray-2
    include ../header
    .pt-8
      block content

  +norska_scripts
    script(src="https://cdn.jsdelivr.net/combine/npm/jquery@3.4.1,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")

