extends /_includes/_layouts/core

block config
  //- - pageTitle = "All games"
  //- - pageDescription = ""
  //- see also: pageAuthor, pageImage, pageTwitter, pageUrl

block content
  each game in data.games
    p
      a(href=`${game.slug}.html`)=game.name
